@{
    ViewData["Title"] = "Fashion Tie";
}

<h2>Fashion Tie </h2>

<p>Welcome to the Fashion Tie Comoany</p>
<li class="nav-item">
    <a class="nav-link text-light" asp-area="" asp-controller="Tiess" asp-action="Index">Tie's Table '</a>
</li>